.header{
    grid-area: h;
    background: darkgreen;
}

.header img {
    width: 100px;
}

.loginBlock {
   position: absolute;
    right: 100px;
    top: 20px;
}

.loginBlock a {
    color: white;
}